@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

// colors
$primary-Blue: #4037ed;
$primary-Red: #ad1318;
$primary-Grey: #727678;

$backgroundColor: #d8d8db;

.primaryBlue {
    color: $primary-Blue;
}

.primaryRed {
    color: $primary-Red;
}

.primaryGrey {
    color: $primary-Grey;
}

.bgBlue {
    background-color: $primary-Blue;
}

.bgGrey {
    background-color: $primary-Grey;
}