 <nav class="navbar navbar-expand-lg navbar-light  bgBlue ">
    <div class="container-fluid  ">

        <div class="collapse navbar-collapse justify-content-sm-around" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Left-aligned link -->
                <li class="nav-item d-flex ">
                    <h3><a class="nav-link text-black  " routerLink="/counter">Counter App</a></h3><span>
                        <button class="bgGrey text-white  rounded-5 border-0 mt-3 px-2">
                            <strong> {{array.length}}</strong>
                        </button></span>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                 
                <li class="nav-item">
                    <h3><a class="nav-link text-black" routerLink="/vatavaran">Weather App</a></h3>
                </li>
            </ul>
        </div>
    </div>
</nav>